*.dds
*.ogf
*.anm
*.anm1
*.bak
*.bmp
*.db
*.db0
*.db1
*.db2
*.dds
*.dds1
*.diff
*.exe
*.h
*.ini
*.md
*.ogf
*.ogg
*.ogm
*.omf
*.pdn
*.pe
*.pg
*.ppe
*.ps
*.s
*.test
*.tga
*.thm
*.txt
*.vs
*.xr
*.jpg
*.png
*.pdf
*.seq
*.rtf
*.wav
*.xmp
*.rar
*.zip
*.7z
*.blend*
*.aup3
*.xcf